<h1>Home Page</h1>

<%= render 'posts/modal' %>
<div class="container">
  <div class="row">
    <%= render 'pages/index/side_menu' %>
    <%= render 'pages/index/main_content' %>
  </div><!-- row -->
</div><!-- container -->

<div class="container">
  <div class="row">
<<<<<<< HEAD
    <%= render 'pages/index/side_menu' %>
    <%= render 'pages/index/main_content' %>
=======
<div class="container">
<div class="row">
  <div id="side-menu"  class="col-sm-3">
  </div><!-- side-menu -->

  <div id="main-content" class="col-sm-9">
  </div><!-- main-content -->

</div><!-- row -->
</div><!-- container -->

>>>>>>> specific_branches
  </div><!-- row -->
</div><!-- container -->
